<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Spin-off of "Challenge: Colorful creature"</title>
        <style>
            h1 {
                color: rgb(12, 20, 6);
            }
            p {
                color:rgb(214, 47, 21);
            }
            body{
                background-color:rgb(226, 237, 9);
            }
        </style>
        
        
    </head>
    <body>
        
        <h1>The coolest creature</h1>
        
        <img src="https://cdn.kastatic.org/third_party/javascript-khansrc/live-editor/build/images/animals/horse.png" width="200">
        
        <p>The <em>horses</em> is awesome because.Horses are magnificent creatures known for their beauty, strength, and grace. They have been loyal companions to humans for thousands of years, playing a crucial role in transportation, agriculture, and sports. With their muscular build and keen intelligence, horses symbolize freedom and power. <strong>Their ability to form deep bonds with humans and their majestic presence make them one of nature's most remarkable animals.</strong>.</p>
        
    </body>
</html>
