
*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main_container{
    width: 70%;
    height: 70%;

    display: flex;
    margin: 0.%;
}

.main_container .left_container{
    width: 55%;
}

.main_container .right_container{
    width: 45%;
}

.left_container img{
    height: 7rem;
    margin-top: 3.5rem;
    margin-bottom: -1rem;
    margin-left: -2rem;
}
.left_container{
    font-size: 1.6rem;
    margin-left: 2rem;
    font-weight: 400;
    line-height: 2rem;
}

.right_container form{
    background-color: white;
    border-radius: 0.6rem;
    padding: 1rem;
    width: 80%;
    margin: 0 auto;
    box-shadow: rgb(219, 217, 217) 0px 2px 10px;
}

form input{
    width: 100%;
    display: block;
    margin-bottom: 1.3rem;
    outline: none;
    padding: 0.7rem;
    border-radius: 0.3rem;
    border: 0.05rem solid lightgray;
    font-size: 1rem;
}

form input:focus{
    border: 0.05rem solid #115fe1;
    transition: 0.3s;
}

#login_button{
    background-color: #0866ff;
    border: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.8rem;
    cursor: pointer;
}

#login_button:hover{
    background-color: #3d7be7;
    transition: 0.3s;
}

.right_container a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: #0866ff;
    font-size: 14px;
    font-weight: 600;
}

.right_container a:hover{
    text-decoration: underline;
}

hr{
    margin: 1.2rem 0;
    border: 0.025rem solid lightgray;
}

.button_container{
    text-align: center;
    margin-top: 1rem;
}

.button_container button{
    width: fit-content;
    margin-bottom: 1rem;
    outline: none;
    padding: 0.6rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    border: none;
    font-size: 17px;
    line-height: 48px;
    background-color: #42b72a;
    color: white;
    padding: 0px 16px;
}

.button_container button:hover{
    background-color: #36a420;
}

.last_text{
    text-align: center;
    margin-top: 1rem;
    font-size: 0.8rem;
}